* {
    font-size: 62.5%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #010101;
    align-items: center;
    height: 20vh;

}

.logo {
    background: black;
    width: 100px;
    
}

.menu {
    display: none;
    box-sizing: border-box;
}

.burger {
max-width: 2rem;
border-radius: 2px;
display: block;

}







@media (min-width: 1200px) {
    .burger {
        display: none
    }
.menu {
    display: flex;
    list-style: none;
    gap: 1rem;
    }
    .menu-premium {
        display: flex;
        list-style: none;
        gap: 1rem;
        padding-right: 1rem;
        border-right: 0.1rem solid color #fefefe;
    }

}