.header {
    display: flex;
    justify-content: space-between;
    background-color: #010101;
    align-items: center;
    height: 20vh;

}

.logo {
    background: black;
    width: 100px;
    
}

.menu {
    display: none;
}

.hamburguesa {

}