* {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #010101;
    align-items: center;
    height: 4rem;
    padding: 1.5rem;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    
}

.menu {
    display: none;
    box-sizing: border-box;
}

.burger {
max-width: 2rem;
border-radius: 2px;
display: block;

}

/* Main */

.main{
    box-sizing: border-box;
}

.principal {
background-color: #529cf1;
color: white;
padding: 15px;
padding-top: 60px;
padding-bottom: 20px;
}

.h2-principal {
font-size: 40px;
font-family: 'Roboto', sans-serif;
line-height: 1.5;
font-weight:800;
}

.p-principal {
    font-size: 1.8rem;
    line-height: 1.5;
}

.button-planes {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    background-color: #26B758;
    border-radius: 20px;
    border: none;
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    
}





@media (min-width: 1200px) {
    .burger {
        display: none
    }
.menu {
    display: flex;
    list-style: none;
    gap: 1rem;
    }
    .menu-premium {
        display: flex;
        list-style: none;
        gap: 1rem;
        padding-right: 1rem;
        border-right: 0.1rem solid color #fefefe;
    }

}